<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.iflysse.mapper.AlsoBuyGoodsMapper">
    <select id="getAlsoBuyGoodsTop" resultType="java.lang.String">
        select list from alsobuy where goodsid = #{goodsId}
    </select>
</mapper>